{% load static %}
<!DOCTYPE html>
<html lang="en">    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">-->
    <title>Almost Pawradise</title>    
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{% static 'base.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>  
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    

{% block head %}

{% endblock %}
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Almost <span class="name">Paw</span>radise</p>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                        
                </button>              
                <!-- <a class="navbar-brand" href="#">Logo</a> -->
            </div>            
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="#">Schedule</a></li>
                    <li><a href="{% url 'photo_gallery' %}">Photo Gallery</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="/my_profile">My Account
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'profile_view' %}">Contact Information</a></li>
                            <li><a href="{% url 'my_pets' %}">My Pets</a></li>
                            <li><a href="{% url 'my_bookings' %}">My Bookings</a></li>
                        </ul>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <div class="user">
                        Welcome {{user.first_name}}!

                    </div>
                    
                    <li>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="glyphicon glyphicon-log-out">Logout</button>
                        </form>
                    </li>
                    {% else %}
                    <li><a href="{% url 'register_view' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if messages %}

    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
        
    {% endfor %}

    {% endif %}

    {% block content %}

    {% endblock %}   
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
    
    <footer class="fixed-bottom text-center">
        <p>kpopow@almostpawradise.com | 678-427-6945 | venmo logo</p>
    </footer>
</body>


</html>
